@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.maincontainer {
    width: 100%;
    height: 100vh;
}

.Sections {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hello there */

.Section1 {
    background-color: chartreuse;
}



/* button on the first page */

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  font-weight: 60;
  line-height: normal;
  position: absolute;
  top: 68%;
  left: 7%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}




/* Hello im _______*/

.wrapper {
  position: absolute;
  margin: auto;
  top: 9rem;
  right: 5rem;
  bottom: 5rem;
  left: 5rem;
  
  width: 100rem;
  height: 50rem;
  
  background: hsl(0,0%,95%);
  box-shadow: 1px 1px 25px 3px rgba(0,0,0,.3); 
}


.header{
  position: absolute;
  width: max-content;
  font-size: 4.875rem;
  font-family: 'Staatliches', cursive;
  white-space: nowrap;
  
  top: 25%;
  left: 7%;
}
.header::after {
  content:'';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  
  background: black;
}


/*************/
.content {
  position: absolute;
  font-size: 2.125rem;
  width: 40%;
  font-family: 'Staatliches', cursive;
  top: 45%;
  left: 7%;
}
.image {
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1580707578919-892eb22db615?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG1hbiUyMHBvcnRyYWl0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
  clip-path: polygon(23% 0%, 100% 0, 100% 100%, 1% 100%); 
  
  background-repeat: no-repeat;
  background-size: cover;
}



.Section2 {
    background-color: aqua;
}


.Section3 {
    background-color: yellow;
}


.Section4 {
    background-color: brown;
}

.ScrollButton{
    width: 20px;
    height: 40px;
    align-content: center;

}


/* ----------------------------------------------------------- navbar ----------------------------------------- */
ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color: #333;
    align-items: center;
    width: 100%;
    height: 70px;
  }
  
  nav{
    justify-content: center;
    display: flex;
    width: 100%;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }



  /*------------------------------------ Service cards ---------------------------------------------- */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  *{
    font-family: 'Poppins', sans-serif;
  }
  

  
  .container{
    position: relative;
    padding: 19px;
  }
  
  .container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .container .card:after{
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,25,0.05)
  }
  
  .container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
      
  }
  
  .container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
  }
  
  .container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container .card:hover .contentBx{
    height: 210px;
  }
  
  .container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
  }
  
  .container .card .contentBx .size, .container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
  
  .container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
  }
  
  .container .card .contentBx .size h3, .container .card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container .card .contentBx .size span:hover{
    background: #9bdc28;
  }
  
  .container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .container .card .contentBx .color span:nth-child(2){
    background: #9bdc28;
  }
  
  .container .card .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .container .card .contentBx .color span:nth-child(4){
    background: #e91e63;
  }
  
  .container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
  }
  
  .container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
    
  }
  