* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.maincontainer {
    width: 100%;
    height: 100vh;
}

.Sections {
    width: 100%;
    height: 100vh;
}

.Section1 {
    background-color: chartreuse;

}



/* commercial */
.Section2 {
    background-color: aqua;
    align-items: center;
    padding-top: 5%;
}

.Section2 p{
    text-align: center;
}
.vidgallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

/* Style for each gallery item */
.gallery-item {
    margin-top: 4%;
    width: calc(33.33% - 10px); /* Adjust as needed */
    margin-bottom: 0px;
}

/* Style for the images */
.gallery-item img {
    width: 90%;
    height: auto;
}

/* Style for the image captions */
.gallery-item p {
    margin-top: 5px;
    text-align: center;
}



/* social media */
.Section3 {
    background-color: yellow;
}

/* color grading */
.Section4 {
    background-color: brown;
}

/* infographics */
.Section5 {
    background-color: rgb(255, 136, 0);
}

/* YT channels */
.Section6 {
    background-color: rgb(255, 57, 206);
}

.ScrollButton{
    width: 20px;
    height: 40px;
    align-content: center;

}



/* ----------------------------------------------------------- navbar ----------------------------------------- */
ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color: #333;
    align-items: center;
    width: 100%;
    height: 70px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }


